{% extends 'base.html' %}

{# Place the content for the cellContent1 in this block #}
{% block rowTwoColOneContent %}
    Sidebar
{% endblock %}

{% block rowTwoColTwoContent %}
<div class="alert alert-danger" role="alert">
    Oops! Looks like we couldn't find that page. It's probably hiding in a different case or got lost in the motherboard maze. 
    Try refreshing or head back to the home page—no need to panic, we’ve got plenty of spare parts! 
  </div>
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
    Footer
{% endblock %}