{% extends "base.html"%}

{% block rowOneContent%}
    <h1 class="mycss-text-light">Welcome to PC Builds!</h1>
{% endblock %}

<p>
    <br>Discover the highest end computers at unbeatable prices on the PC Builds site!</br> 
    <br>From gaming rigs to powerful workstations, find your perfect match with ease.</br> 
    <br>With a list of perfectly picked and competitively priced rigs, this site has got something for everyone.</br>
    <br>The PC Builds site is a great place to determine which computer setup you go with, it shows the best prices and the best rigs!</br>
    
    <br>Want to know more about this site?</br>
    <br><a href="#">Click Here!</a></br>
</p>

{% block rowTwoColOneContent%}
    <h2 class="mycss-text-light">About PC Builds</h2>
{% endblock %}

{% block rowTwoColTwoContent%}
    <h2 class="mycss-text-light">Images</h2>
    <p>They go here</p>
{% endblock %}

